/* Global classes */

div.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: center;
}

div.columns.two-columns > * {
    flex: 0 1 50%;
}

ul.nested > li {
    margin-bottom: 20px;
}

/* Slide Specific styles */

.reveal .slides section.title-slide .title-flare {
    display: inline-block;
    width: 0;
    word-wrap: normal;
    color: #FFFFFF;
    transition: opacity 0.5s linear;
}

.reveal .slides section.title-slide .title-flare.current-fragment,
.reveal .slides section.title-slide .title-flare.visible {
    width: auto;
    word-wrap: break-word;
    color: #FF0000;
    text-transform: lowercase;
}


section#hat-trick-title figure figcaption {
    font-size: .5em;
}
